
$slp-body-bg: rgb(20, 20, 20);
$slp-card-bg: rgb(31, 31, 31);
$slp-btn-bg: rgb(51, 51, 51);
$slp-btn-hover-bg: rgb(175, 255, 13);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$body-bg: #000;
$body-color: white;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "slp":        $slp-btn-bg,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
